@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn <a asp-area="" asp-page="/Secret">my secret</a>.</p>
</div>
