@page
@model HelloGithubOAuth.Pages.SecretModel
@{
    ViewData["Title"] = "Top Secret";
}

<div class="text-center">
    <h1 class="display-4">🧁 I ate <em>two</em> cakes! 🧁</h1>
    [<a href="/Signout">sign out</a>]
</div>
